<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 新宜芳香舖 | good incense
    link(rel="stylesheet", href="public.css")
  body
    h1 About page is coming soon.
    .all_wrap
      //- header
      header
        nav
          .title
            h1 
              a(href="index.html") 新宜芳香舖
            //- a(id="menubtn" href="javascript:;")
            a(href="javascript:;").open &equiv; 
            a(href="javascript:;").close.hidden &times;
          .nav_list
            a(href="product.html").color1 產品
            a(href="service.html").color2 服務項目
            a(href="https://cladtsai.medium.com/" target="_blank").color3 部落格
            a(href="about.html").color4 關於我們

              
    //- footer
    footer
      ul
        .footer_left
          li.rwd_mail
            p shinyifangtw@gmail.com
          li.rwd_phone
            p 02 2668 8532
          li
            p 238 新北市樹林區佳園路一段75巷188號1樓
        .footer_right
          li
            p &copy; 2021 SHIN YI FANG.  All rights reserved.

            
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="sfy.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js")